################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/fs-lab-assignment-sportsstore-80457/v18/workspaceFileList.bin
/.vs/fs-lab-assignment-sportsstore-80457.slnx/FileContentIndex
/.vs/fs-lab-assignment-sportsstore-80457.slnx/v18
/.vs/SportsSln/copilot-chat/7062a73a/sessions
/.vs/SportsSln/CopilotIndices/18.0.988.22099
/.vs/SportsSln/FileContentIndex/36662f7f-13df-4128-876e-31c724ce6a2e.vsidx
/.vs/SportsSln/FileContentIndex/3d01bf75-7696-4f2d-b5e9-7002dde5f098.vsidx
/.vs/SportsSln/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/SportsStore/bin/Debug/net10.0
/SportsStore/obj/Debug/net10.0/compressed
/SportsStore/obj/Debug/net10.0/EmbeddedAttribute.cs
/SportsStore/obj/Debug/net10.0/rpswa.dswa.cache.json
/SportsStore/obj/Debug/net10.0/SportsStore.AssemblyInfoInputs.cache
/SportsStore/obj/Debug/net10.0/SportsStore.assets.cache
/SportsStore/obj/Debug/net10.0
/SportsStore/obj/Release/net10.0
/SportsStore/obj/Debug/net10.0/SportsStore.GeneratedMSBuildEditorConfig.editorconfig
/SportsStore.Tests/bin
/SportsStore.Tests/obj/Debug/net10.0
/SportsStore.Tests/obj/Debug/net6.0/SportsStore.Tests.assets.cache
/SportsStore.Tests/obj/Release/net10.0
/SportsStore.Tests/obj/Release/net6.0
/SportsStore.Tests/obj/project.assets.json
/SportsStore.Tests/obj/project.nuget.cache
/SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.dgspec.json
/SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.g.props
/SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.g.targets
/.vs/SportsSln/FileContentIndex/3d01bf75-7696-4f2d-b5e9-7002dde5f098.vsidx
/SportsStore/obj/Debug/net10.0/rpswa.dswa.cache.json
/SportsStore/obj/Debug/net10.0/SportsStore.AssemblyInfoInputs.cache
/SportsStore/obj/Debug/net10.0/SportsStore.assets.cache
/SportsStore/obj/Debug/net10.0/SportsStore.GeneratedMSBuildEditorConfig.editorconfig
/SportsStore.Tests/obj/Debug/net6.0/SportsStore.Tests.assets.cache
/SportsStore.Tests/obj/project.assets.json
/SportsStore.Tests/obj/project.nuget.cache
/SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.dgspec.json
/SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.g.props
/SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.g.targets
